vpc_cidr             = "10.10.0.0/16"
public_subnet_cidrs  = ["10.10.1.0/24", "10.10.2.0/24", "10.10.3.0/24"]
private_subnet_cidrs = ["10.10.4.0/24", "10.10.5.0/24", "10.10.6.0/24"]
availability_zones   = ["us-east-1a", "us-east-1b", "us-east-1c"]
profile              = "dev"
region               = "us-east-1"
ami_owner_id         = "390646828676"
volume_size          = 50
volume_type          = "gp2"
instance_type        = "t2.micro"
ami_name_filter      = "thabes*"
protocol_tcp         = "tcp"
